# Dépendances (Le plus important !)
node_modules/

# Dossiers de build (pour éviter les conflits de compilation)
dist/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Git
.git/
.gitignore

# Environnement (Sécurité : ne pas embarquer tes clés API en dur dans l'image)
.env
.env.local
.env.production

# Fichiers système
.DS_Store
Thumbs.db

# Docker (pas besoin de copier les fichiers Docker dans le container lui-même)
Dockerfile
docker-compose.yml
.dockerignore